/*Color, bordes y ajustes  de los divs especiales*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
p {
    font-size: 140%;
}

#donacion{
  font-size: 100S%;
}
p.apoyarnos{
  font-size: 30px;
}

div.wrapper {
    width:1140px;
    max-width: 1140px;
    margin: auto;
}

/*Ajustes de color de los diferentes divs, asi como los bordes debido a que se pasaban un poco*/
#estilo1 {
  background-color: #FED966;
    border-style: solid; border-width: 4px;
     border-color: white;
     border-left-width: 15px;
min-height:500px;

}
#estilo2test-sm{
  background-color: #FFE699;
  border-style: solid; border-width: 4px;
  border-color: white;
  border-right-width: 15px;
  min-height:500px;
}
 #estilo2{
    background-color: #FFE699;
    border-style: solid; border-width: 4px;
    border-color: white;
    min-height:500px;
 }
 #estilo3 {
   background-color: #FED966;
    border-style: solid; border-width: 4px;
      border-color: white;
      border-right-width: 15px;
      min-height:500px;
 }
 #estilo3-participa-sm{
   background-color: #FED966;
    border-style: solid; border-width: 4px;
      border-color: white;
      border-right-width: 15px;
      border-left-width: 15px;
      min-height:400px;
 }
#colorfuerte{
  background-color: #FED966;
    min-height:200px;
    border-bottom-width: 20px;
}
 #colorclaro{
  background-color: #FFE699;
    min-height:180px;
    border-bottom-width: 20px;
 }
 #estilo4{
    background-color: #FFE699;
    border-style: solid; border-width: 4px;
    border-color: white;
      border-right-width: 15px;
        border-left-width: 15px;
    min-height:200px;
    border-bottom-width: 20px;
 }

 #estilo4v2{
    background-color: #FED966;
    border-style: solid; border-width: 4px;
    border-color: white;
      border-right-width: 15px;
        border-left-width: 15px;
    min-height:500px;
    border-bottom-width: 20px;
 }

#adoptaperros{
  background-color: #FED966;
  border-style: solid; border-width: 4px;
  border-color: white;
    border-right-width: 15px;
      border-left-width: 15px;
  min-height:500px;
  border-bottom-width: 20px;
}

#adoptagatos{
  background-color: #FFE699;
  border-style: solid; border-width: 4px;
  border-color: white;
    border-right-width: 15px;
      border-left-width: 15px;
  min-height:500px;
  border-bottom-width: 20px;
}

 #estilobotonesadopta{
   min-height:300px;
 }

 #estilo1dona{
   background-color: #FED966;
     border-style: solid; border-width: 4px;
      border-color: white;
      border-left-width: 15px;
 min-height:590px;
 }
#estilo1contacto{
    background-color: #FED966;
      border-style: solid; border-width: 4px;
       border-color: white;
       border-left-width: 15px;
  min-height:555px;
}

#estilo2noticias{
  background-color: #FFE699;
  border-style: solid; border-width: 4px;
  border-color: white;
  border-right-width: 15px;
  min-height:590px;
}
 #estilo2contacto{
    background-color: #FFE699;
    border-style: solid; border-width: 4px;
    border-color: white;
    border-right-width: 15px;
    min-height:555px;
 }
 /*Pagination  en forma circular en adopta*/
 .pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
     .adopta .pagination>li>a,
.adopta .pagination>li>span {
  border: 1px solid black;
}
.pagination>li.active>a {
  background: black;
  color: white;
}


/*Letra mas grande en la nav bar y ajustes */
header{
clear: both;
width: 100%;
text-align: center;
margin: 0;
font-size: 18px;
}
.navbar-nav {
    width: 100%;
    text-align: center;

  }

/*Parte inferior de la pagina, letra grande para que sea mas visible*/
footer{
clear: both;
width: 100%;
text-align: center;
margin: 0;
font-size: 19px;
}
/* Boton para ir arriba */
  #IrArriba {
position: fixed;
bottom: 30px; /* Distancia desde abajo */
right: 30px; /* Distancia desde la derecha */
}

#IrArriba span {
width: 60px; /* Ancho del botón */
height: 60px; /* Alto del botón */
display: block;
background: url(imagenes/perroapuntando.png) no-repeat center center;
}
/*Carousel */
div      { text-align: center; }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
   margin: auto;
}
.carousel .item {
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}
.carousel-control {
    border-radius: 5px;
}

/*Redes sociales en moviles*/
/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
 .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoYoutube:hover i, .social-network a.icoGitHub:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
#Git {

 background-color: #000000;
}
#Youtu {

 background-color: #bb0000;
}

#twit {

 background-color: #00aced;
}
#face {

 background-color: #3b5998;
}

/*Botón negro (inverse) (: */
.btn-inverse {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #363636;
*background-color: #222222;
background-image: -moz-linear-gradient(top, #444444, #222222);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
background-image: -webkit-linear-gradient(top, #444444, #222222);
background-image: -o-linear-gradient(top, #444444, #222222);
background-image: linear-gradient(to bottom, #444444, #222222);
background-repeat: repeat-x;
border-color: #222222 #222222 #000000;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
color: #ffffff;
background-color: #222222;
*background-color: #151515;
-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
           box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-inverse:active,
.btn-inverse.active {
background-color: #080808 \9;
}

.btn-inverse.active {
color: rgba(255, 255, 255, 0.75);
}
